<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".main.TahomaControllerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TahomaRaffstoreController"
        tools:targetApi="31">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sunilson" />
                <data android:host="tahoma" />
                <data android:path="/action/execute/group" />
                <data android:path="/action/execute/device" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.authentication.AuthenticationActivity"
            android:exported="true" />

        <receiver
            android:name=".features.widget.FavouriteWidgetClickBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name=".features.schedules.SchedulesBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name=".features.widget.presentation.FavouritesWidgetReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favourites_widget_info" />

        </receiver>

        <service
            android:name=".features.services.TahomaForegroundService"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="true" />

        <service
            android:name=".features.services.SchedulesForegroundService"
            android:foregroundServiceType="dataSync"
            android:stopWithTask="true" />

    </application>
</manifest>